{% extends 'base.html.twig'%}
{% block body %}
<h1>Formulaire d'ajout de produits</h1>
<main class="container">
{{form_start(formProduct)}}
{{form_widget(formProduct)}}
  <input type="submit">
{{ form_end(formProduct) }}
</main>
{% endblock %}
